/*@media (min-width:576px) {*/
/*    body {*/
/*        background: #E6E6E6;*/
/*    }*/
/*    .circle {*/
/*        width: 185px;*/
/*        height: 185px;*/
/*        border-radius: 50%;*/
/*        border: solid 10px white;*/
/*        !*display: flex;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        justify-content: center;*/
/*    }*/
/*}*/
/*@media(max-width:575px) {*/
/*    body {*/
/*        background: #E6E6E6;*/
/*    }*/
/*    .circle {*/
/*        width: 185px;*/
/*        height: 185px;*/
/*        border-radius: 50%;*/
/*        border: solid 10px white;*/
/*        !*display: flex;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        justify-content: center;*/
/*    }*/
/*}*/

body {
    background: #E6E6E6;
}
h1 h2 {
    font-family: Anton, "sans-serif";
}
h1 {
    line-height: 64px;
}
h2 {
    line-height: 48px;
}

 h5 {
  font-family: Anton, "sans-serif";
   font-size: xx-large;

}

.circle {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    border: solid 10px white;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    justify-content: center;
}
.design {
     background-color: #E6563B;
 }


.develop {
    background-color: #DEA03D;
}
.support {
    background-color: #7CB06C;
}
.host {
    background-color: #00ABA9;
}








/*NAVBAR*/

nav a {
    font-size: .75em;
    color: black;
}

.navbar {
    font-family: Abel, "sans-serif";
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}
